<!DOCTYPE html>
<html>
  <head>
    <title>Tarifa</title>
    <title>NovaIdeas</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'smooth-scroll.min' %>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  </head>

  <body>
    <%= yield %>
  </body>
</html>

<script>
    smoothScroll.init();
</script>

